.container{
	display: flex;
	flex-wrap: wrap
}
img{
	width:  350px;
	height: 400px;
	margin: 10px;
}
h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 1px solid blue;
	width: 400px;
	text-align: center;
}