h2{
	color: red;
}
p{
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 180%;
}
.boxmodel{
	border: 5px solid red;
	display: inline-block;
	padding: 5px;
	margin: 0px 20px;
}
#div1{
	color: blue;
}